@media only all and (max-width: 59.938em) {
    #body .padding {
        position: static;
        padding: 15px 3rem;
    }
}
@media only all and (max-width: 47.938em) {
    #body .padding {
        padding: 5px 1rem;
    }
}
@media only all and (max-width: 59.938em) {
    #body #navigation {
        position: static;
        margin-right: 0 !important;
        width: 100%;
        display: table;
    }
}
@media only all and (max-width: 59.938em) {
    #body .nav {
        display: table-cell;
        position: static;
        top: auto;
        width: 50%;
        text-align: center;
        height: 100px;
        line-height: 100px;
        padding-top: 0;
    }

    #body .nav > i {
        display: inline-block;
    }
}
@media only all and (max-width: 47.938em) {
    .two-column-bullet {
        width: 100%;
    }
}
@media only all and (max-width: 47.938em) {
    .three-column-bullet {
        width: 100%;
    }
}
@media only all and (max-width: 47.938em) {
    .four-column-bullet {
        width: 100%;
    }
}
@media only all and (max-width: 59.938em) {
    #sidebar {
        width: 230px;
    }

    #body {
        margin-left: 230px;
    }
}
@media only all and (max-width: 47.938em) {
    #sidebar {
        width: 230px;
        left: -230px;
    }

    #body {
        margin-left: 0;
        width: 100%;
    }

    .sidebar-hidden {
        overflow: hidden;
    }

    .sidebar-hidden #sidebar {
        left: 0;
    }

    .sidebar-hidden #body {
        margin-left: 230px;
        overflow: hidden;
    }
}
@media print {
    #sidebar,
    #navigation,
    #top-bar,
    .anchor {
        display: none;
    }

    #navigation * {
        display: none;
        visibility: hidden;
    }

    #body-inner {
        margin-bottom: 0px;
    }

    footer {
        margin-top: 1px;
    }

    body,
    a {
        font-size: 120%;
        color: black !important;
        background: white !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: black !important;
        background: white !important;
    }

    #body {
        margin-left: 0px;
    }
}
