body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    font-family: Georgia, 'Bitstream Charter', serif;
    color: #333;
    background-color: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}
h1 {
    font-size: 3rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
}

a,
a:visited {
    color: #00529b;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    color: #007ed7;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

pre {
    padding: 1rem;
    border-radius: 2px;
    line-height: 1.15;
    white-space: pre-wrap;
    overflow: auto;
}
pre code {
    background: inherit;
    white-space: inherit;
    border: 0;
    padding: 0;
    margin: 0;
}
code {
    color: #f8f8f2;
    background-color: #272822;
    padding: 3px;
    border-radius: 2px;
}
code,
kbd,
pre,
samp {
    font-size: 92%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
table thead th,
table tbody td {
    padding: 10px;
}

blockquote {
    border-left: 7px solid #ccc;
    margin-left: 0;
    padding-left: 20px;
}

footer {
    border-top: 1px solid rgba(186, 186, 186, 0.51);
    padding: 10px 0;
    margin-top: 10px;
    font-size: 0.9em;
}

.alert {
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid transparent;
}
.alert-info {
    background-color: #dcf0f9 !important;
    border-color: #b2def4 !important;
    color: #0f5376 !important;
}
.alert-success {
    background-color: #d6eed3 !important;
    border-color: #bce3b5 !important;
    color: #234a1c !important;
}
.alert-warning {
    background-color: #fbf6e1 !important;
    border-color: #f6ecbe !important;
    color: #55480c !important;
}
.alert-danger {
    background-color: #f9ebeb !important;
    border-color: #ecbdbd !important;
    color: #5f1b1b !important;
}

/*
------------------------------------------------------------------------------------------------------------------------
*/

#body {
    margin-left: 300px;
    min-height: 100%;
}
#body .padding {
    padding: 1rem 4rem;
}
#body-inner {
    max-width: 960px;
    margin: auto;
}

#top-bar {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0rem -1rem 2rem;
    padding: 0 1rem;
    height: 0;
    min-height: 3rem;
}
#top-github-link {
    position: relative;
    z-index: 1;
    float: right;
    display: block;
}
#top-github-link,
#body #breadcrumbs {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#body #breadcrumbs {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8em;
}

#header-wrapper {
    background: #00529b;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #183f81;
    padding: 1rem;
}
#header .baselink {
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.searchbox {
    margin-top: 1rem;
    position: relative;
    border: 1px solid #007ed7;
    background: #183f81;
    border-radius: 4px;
}
.searchbox label {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 10px;
    top: 3px;
}
.searchbox input {
    color: #fff;
    width: 100%;
    height: 30px;
    background: transparent;
    border: 0;
    padding: 0 25px 0 30px;
    margin: 0;
}

#sidebar {
    background-color: #00529b;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    line-height: 27px;
}
#sidebar a {
    color: #fff;
}
#sidebar a:hover {
    color: #e0e0e0;
}
#sidebar .parent li,
#sidebar .active li {
    border-left: 1px solid gray;
}
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar ul.topics {
    margin: 0 0 0 1rem;
}
#sidebar ul.topics ul {
    /* display: none; */
    padding-bottom: 1rem;
}
#sidebar ul.topics ul ul {
    padding-bottom: 0;
}
#sidebar ul.topics li.parent > ul,
#sidebar ul.topics li.alwaysopen > ul,
#sidebar ul li.active > ul {
    display: block;
}
#sidebar ul li .category-icon {
    color: gray;
}
#sidebar ul.topics > li.parent a,
#sidebar ul.topics > li.active a {
    color: #fff;
}
#sidebar ul.topics > li.parent,
#sidebar ul.topics > li.active {
    background: #003c70;
    margin-left: -1rem;
    margin-right: 0rem;
    padding-left: 1rem;
    padding-right: 0rem;
}
#sidebar ul li.active > div > a {
    background: #f8f8f8;
    color: #333 !important;
}
#sidebar ul li.active > div > a:hover {
    color: #111 !important;
}
#sidebar ul li {
    padding: 0;
}
#sidebar ul li a {
    display: block;
    padding: 2px 0;
}
#sidebar ul li div a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 100%;
}
#sidebar ul li li {
    padding-left: 1rem;
    text-indent: 0.2rem;
}
#sidebar ul li .category-icon {
    display: block;
    float: right;
    position: absolute;
    right: 15px;
    margin: 0px;
    margin-top: -20px;
}
#sidebar ul li.active > div .category-icon {
    right: 15px;
}
