a {
    text-decoration: none;
}

.alert {
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid transparent;
}
.alert-info {
    background-color: #dcf0f9 !important;
    border-color: #b2def4 !important;
    color: #0f5376 !important;
}
.alert-success {
    background-color: #d6eed3 !important;
    border-color: #bce3b5 !important;
    color: #234a1c !important;
}
.alert-warning {
    background-color: #fbf6e1 !important;
    border-color: #f6ecbe !important;
    color: #55480c !important;
}
.alert-danger {
    background-color: #f9ebeb !important;
    border-color: #ecbdbd !important;
    color: #5f1b1b !important;
}
