<!DOCTYPE html>
<html>

<head>
  <title>{{ block "title" . }}{{ .Title }} :: {{ .Site.Title }}{{ end }}</title>
  {{ partial "head.html" . }}
</head>

<body data-url="{{ .RelPermalink }}">
  {{ partial "sidebar" . }}

  <section id="body">
    <div class="padding">
      <div id="top-bar">
        {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
        {{ $File := .File }}
        {{ $Site := .Site }}
        {{with $File.Path }}
        <div id="top-github-link">
          <a class="github-link"
            href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}" target="blank">
            <i class="fa fa-code-fork"></i>&nbsp;Edit on GitHub
          </a>
        </div>
        {{- end }}
        {{- end -}}

        <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <span class="links">
            {{ template "breadcrumb" dict "page" . "value" .Title }}
          </span>
        </div>
      </div>
      <div id="body-inner">
        <h1>{{.Title}}</h1>

        {{define "breadcrumb"}}
        {{ if .page.Parent}}
        {{$value := (printf "<a href='%s'>%s</a> > %s" .page.Parent.Permalink .page.Parent.Title .value)}}
        {{ template "breadcrumb" dict "page" .page.Parent "value" $value }}
        {{else}}
        {{.value|safeHTML}}
        {{end}}
        {{end}}

        {{ block "main" . }}
        {{ end }}

        {{ partial "custom-content-footer.html" . }}
      </div>
    </div>
  </section>


  {{ block "footer" . }}
  {{ end }}

  <script type="text/javascript" src="{{"js/copy-to-clipboard.js" | relURL}}"></script>
  {{ partial "custom-footer.html" . }}
</body>

</html>
