<section class="attachments">
	<label>
		<h2>{{with .Get "title"}}{{.}}{{else}}{{T "Attachments-label"}}{{end}}</h2>
	</label>
	{{if or (eq .Page.File.BaseFileName "index") (eq .Page.File.BaseFileName "_index") }}
		{{$.Scratch.Add "filesName" "files"}}
	{{else}}
		{{$.Scratch.Add "filesName" (printf "%s.files" .Page.File.BaseFileName)}}
    {{end}}
	{{ range (readDir (printf "./content/%s%s" .Page.File.Dir ($.Scratch.Get "filesName")) ) }}
        {{ $fileDir := replace $.Page.File.Dir "\\" "/" }}
		{{if (findRE (cond (not (not ($.Get "pattern"))) ($.Get "pattern") "") .Name)}}
			<li><a href="{{ printf "%s/%s%s/%s" $.Site.BaseURL $fileDir ($.Scratch.Get "filesName") .Name }}" >{{.Name}}</a> ({{div .Size 1024 }} kB)</li>
		{{end}}
	{{end}}
</section>

{{.Inner}}
